.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

.gallery img {
    width: 100%;
    transition: 0.3s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

nav li {
    cursor: pointer;
}

body {
    font-size: 16px;
}

header, nav ul {
    flex-direction: column;
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 8px;
    }
    .gallery img {
        margin: 8px auto;
    }

    header, nav ul {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    header, nav ul {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}
