.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery img {
    flex: 1 1 200px;
    margin: 8px;
    max-width: 100%;
    transition: flex-basis 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .gallery img {
        flex-basis: 100%;
        margin: 8px auto;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

nav li {
    cursor: pointer;
}

body {
    font-size: 16px;
}

header, nav ul {
    flex-direction: column;
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
    
    header, nav ul {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}
